 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f;

}
nav{
    padding: 20px 10%;
    height: 15vh;
   
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 5%;
    font-weight: 600;
}
nav ul li a{
    text-decoration: none;
   
}
nav ul li a:hover{
    color: #3b855b;
    cursor: pointer;
    font-weight: 900;
    
}
nav ul img{
    width: 100px;


}
main{
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;

}
.left_section{
    width: 40%;
} 
.left_section p{
   
    margin: 5% 0;
}
.left_section button{
   padding: 15px 20px;

   font-size: 18px;
   color: white;
   font-weight: 600;
   border-radius: 10px;
   border: none;
   background-color: #3b855b;
}
.left_section button:hover{
    background-color: #1306575b;
    cursor: pointer;
}
.right_section{
    padding: 7%;
    width: 60%;
   
}
.right_section .main_img{
    width: 30%;
    height: 100%;
    
}
.right_section .main{
  margin-top: 20px;
}
.right_section .main img{
    width: 64%;
}


